In [16]:
import pandas as pd
import numpy as np
# import csv file
my_df = pd.read_csv('dog_data.csv')
my_df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [17]:
# Count Distinct Values - Descending
my_df['Color'].value_counts()

Color
BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: count, Length: 72, dtype: int64

In [18]:
# Count Distinct Values - Ascending
my_df['Color'].value_counts(ascending=True)

Color
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BROWN/LIVER               1
BLACK/BROWN/GREY          1
BROWN/FAWN                1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: count, Length: 72, dtype: int64

In [14]:
# Dog Names - without NaN (applied into 20 rows)
my_df['DogName'].value_counts()

DogName
CHARLEY              1
TACODA               1
EICH                 1
ARROW                1
OAKLEY               1
BAILEY               1
MIMI PEARL FOSTER    1
LEROI                1
ZOE VITSAS           1
DUDE                 1
CHICKIE              1
KING                 1
EMILY                1
ELLIE                1
RUSTY                1
JUILET               1
ROMEO                1
Name: count, dtype: int64

In [15]:
# Dog Names - with NaN (applied into 20 rows)
my_df['DogName'].value_counts(dropna=False)

DogName
NaN                  2
CHARLEY              1
TACODA               1
EICH                 1
OAKLEY               1
ARROW                1
BAILEY               1
MIMI PEARL FOSTER    1
LEROI                1
ZOE VITSAS           1
DUDE                 1
CHICKIE              1
KING                 1
EMILY                1
ELLIE                1
RUSTY                1
JUILET               1
ROMEO                1
Name: count, dtype: int64

In [19]:
# Get Relative Frequency - Percentage
my_df['Color'].value_counts(normalize=True)

Color
BLACK                   0.139212
BROWN                   0.115947
WHITE                   0.084803
WHITE/BLACK             0.073546
BLACK/BROWN             0.068668
                          ...
BROWN/ORANGE            0.000375
BLACK/ORANGE/BRINDLE    0.000375
BROWN/FAWN              0.000375
BLACK/BROWN/GREY        0.000375
BROWN/LIVER             0.000375
Name: proportion, Length: 72, dtype: float64

In [21]:
# Get specific Item count
my_df['Color'].value_counts()['BLACK']

np.int64(371)

In [22]:
# Count Unique Values - Size
my_df.groupby('Color').size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [23]:
# Count Unique Values - Count
my_df.groupby('Color').count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       50        51

[72 rows x 3 columns]