In [18]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [31]:
my_data = randn(4,3) #rows, columns
my_rows = ['a', 'b', 'c', 'd']
my_cols = ["Sunday", "Monday", "Tuesday"]

In [32]:
# Create DataFrame
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Sunday    Monday   Tuesday
a  1.498560 -1.095009  0.514867
b  1.349498  0.291524 -1.038771
c  1.128287 -0.339512  1.081663
d  0.041951 -0.538008  1.035248

In [55]:
# # import csv file
# my_df2 = pd.read_csv('Demo_File.csv')

# import csv file
my_df2 = pd.read_csv('dog_data.csv')
my_df2

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [51]:
# pull out rows
my_df2.loc[0]

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip       15236
Name: 0, dtype: object

In [52]:
# pull out multiple rows
my_df2.loc[[2,5]]

              Breed    Color DogName  OwnerZip
2     BELG MALINOIS  BRINDLE    EICH     15238
5  SCOTTISH TERRIER    BLACK  BAILEY     15129

In [56]:
# Grab first 5 rows
my_df2.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [64]:
# Grab creation number of first rows
my_df2.head(9)

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238

In [65]:
# Grab last 5 rows
my_df2.tail()

                  Breed              Color        DogName  OwnerZip
2665       GOLDENDOODLE              BROWN        WINSLOW     15044
2666  YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667            LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668       GOLDENDOODLE              WHITE       CLARENCE     15143
2669  SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

In [66]:
# Grab creation number of first rows
my_df2.tail(9)

                   Breed              Color        DogName  OwnerZip
2661     ENGLISH MASTIFF               FAWN          MARGE     15143
2662          WEIMARANER               GREY          BELLA     15102
2663  LABRADOR RETRIEVER              BROWN           NINO     15102
2664  COCKER SPANIEL MIX        WHITE/BLACK           JACK     15102
2665        GOLDENDOODLE              BROWN        WINSLOW     15044
2666   YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667             LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668        GOLDENDOODLE              WHITE       CLARENCE     15143
2669   SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

In [71]:
# Get info about the dataframe
my_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     2670 non-null   object
 1   Color     2665 non-null   object
 2   DogName   2669 non-null   object
 3   OwnerZip  2670 non-null   int64
dtypes: int64(1), object(3)
memory usage: 83.6+ KB

In [72]:
# Get shape of rows and columns
my_df2.shape

(2670, 4)

In [73]:
# Get number of dimensions
my_df2.ndim

2

In [74]:
# Get the column dataTypes
my_df2.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

In [75]:
# Get some statistics about the data
my_df2.describe()

           OwnerZip
count   2670.000000
mean   15268.109738
std     2747.560641
min    15003.000000
25%    15102.000000
50%    15136.000000
75%    15227.000000
max    97206.000000

In [76]:
# Describe a specific column
my_df2['Breed'].describe()

count      2670
unique      185
top       MIXED
freq        235
Name: Breed, dtype: object

In [77]:
# Describe a specific column
my_df2['Color'].describe()

count      2665
unique       72
top       BLACK
freq        371
Name: Color, dtype: object

In [78]:
# Describe a specific column
my_df2['DogName'].describe()

count     2669
unique    1428
top       LUCY
freq        35
Name: DogName, dtype: object

In [79]:
# Select specific column Using Brackets
my_df2["DogName"]

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object

In [80]:
# Select specific column Using Dot Notation
my_df2.DogName

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object

In [81]:
# Select specific column Using Location
my_df2.iloc[:, 2]

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object