In [4]:
import pandas as pd
import numpy as np

In [5]:
# panda series - like a Table column one dimensional array holding any type of data.

In [7]:
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [8]:
# print specific value
my_var[2]

np.int64(12)

In [13]:
# labels using index argument
my_index = ['A', 'B', 'C', 'D']
my_var2 = pd.Series(my_series, index=my_index)
my_var2

A     5
B     9
C    12
D    27
dtype: int64

In [14]:
my_var2['B']

np.int64(9)

In [17]:
# key value dictionary
cars = {"Tesla":12, "Mercedes":42, "BMW":3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64

In [18]:
my_var3["Tesla"]

np.int64(12)